# LLM
OPENAI_API_KEY=sk-proj-zzzzz
GOOGLE_API_KEY=your_google_api_key

# Vector DB (Pinecone)
PINECONE_API_KEY=pcsk_zzzzz
PINECONE_INDEX=agentic-rag-index

# JWT
JWT_SECRET=your_secret_key_here

# Web Search (optional — for Feature 7)
TAVILY_API_KEY=tvly_zzzzz

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=lsv2_zzzzz
LANGSMITH_PROJECT="Agentic RAG"